body{
    background-image: url("passwordBackground.jpg");
    background-size: cover;
    position: relative;
    margin-top: 100px;
    padding-top: 100px;
}

input[type=text], input[type=password] {
  border: none;
  border-bottom: 2px solid blue;
  margin: auto;
  }

#password-strength {
  max-width: 65%;
  margin: auto;
  margin-top: 30px;
  height: 15px;
  background-color: #DDD;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
}

#password-strength-bar {
  height: 100%;
  background-color:#DDD;
  transition: width 1s ease;
}

#password-strength-text {
  margin-top: 5px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

#pwordproperties {
  text-align: left;
  color: grey;
  
}

h1, h3, p, label {
  font-family: 'Cutive Mono', monospace;
  font-weight: bold;
}

#checker-container, #generator-container {
    height: 500px;
    max-width: 600px;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  margin-top: 250px;
  display:none;
}